RSSAppApi/Connected Services/ChannelService/ChannelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://3.130.26.94/RSSBackgroundWorkerBusinessWCF/services/ChannelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Articles" nillable="true" type="tns:ArrayOfArticle" />
      <xs:element minOccurs="0" name="ChannelImage" nillable="true" type="tns:Channel.Image" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RSS_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="ArrayOfArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Article" nillable="true" type="tns:Article" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticle" nillable="true" type="tns:ArrayOfArticle" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PubDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Article" nillable="true" type="tns:Article" />
  <xs:complexType name="Channel.Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel.Image" nillable="true" type="tns:Channel.Image" />
  <xs:complexType name="ChannelMessage">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="tns:Channel" />
      <xs:element minOccurs="0" name="Status" type="tns:MessageStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelMessage" nillable="true" type="tns:ChannelMessage" />
  <xs:simpleType name="MessageStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Updated" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="NothingModified" />
      <xs:enumeration value="NotFound" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageStatus" nillable="true" type="tns:MessageStatus" />
</xs:schema>