RSSAppApi/Connected Services/ChannelService/ChannelService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://3.130.26.94/RSSBackgroundWorkerBusinessWCF/services/ChannelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" />
  <xs:element name="GetChannels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" minOccurs="0" name="GetChannelsResult" nillable="true" type="q1:ArrayOfChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" minOccurs="0" name="GetChannelResult" nillable="true" type="q2:Channel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" minOccurs="0" name="channel" nillable="true" type="q3:Channel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" minOccurs="0" name="AddChannelResult" nillable="true" type="q4:ChannelMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" minOccurs="0" name="channel" nillable="true" type="q5:Channel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" minOccurs="0" name="UpdateChannelResult" nillable="true" type="q6:ChannelMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RSSBackgroundWorkerBusinessWCF.Messages" minOccurs="0" name="DeleteChannelResult" nillable="true" type="q7:ChannelMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>